html, body, .container { display: block; height: 100%;}
body:before {
    content: '';
    position: absolute; top: 0; left: 0;
    display: block; width: 50%; height: 100%;
    background: url("../images/bg-l.png") no-repeat; background-size: 100px; background-position: left top;
}
body:after {
    content: '';
    position: absolute; top: 0; right: 0;
    display: block; width: 50%; height: 100%;
    background: url("../images/bg-r.png") no-repeat; background-size: 100px; background-position: right top;
}
.body { position: relative; margin-top: 120px; z-index: 10;}
.thumb img { max-width: 100%;}
.btns { display: block; padding: 10px 0;}
.btns .btn { display: block; height: 60px; line-height: 45px; margin-bottom: 10px; font-size: 24px;}
.mask {
    position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 20; background: #fff;
    display: none;
}
.mask img { width: 100%;}
